# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# Backend folders
backend/uploads/
backend/downloads/

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# React
frontend/node_modules/

# Misc
*.sqlite3